.confirmation {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 8%;
  flex-direction: column;
}


h2.success-message {
 font-size: 24px;
  color: #28bf2b;
  margin-bottom: 20px;
  align-items: center;
}

.order-details {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}



.back-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.back-button:hover {
  background-color: #5a6268;
}