<div *ngIf="loading">Loading products...</div>
<div *ngIf="error">{{ error }}</div>

<div class="product-grid" *ngIf="!loading && !error">
  <div class="product-card" >
    @for(let product of products;track $index){
    <img [src]="product.url" [alt]="product.name" />
    <h3>
      <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
    </h3>
    <p class="price">{{ product.price | currency: 'USD' }}</p>
    <p>{{ product.description }}</p>

    <button (click)="addToCart(product)">Add to cart</button>
}
  </div>
</div>
